@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> localizer
@model ProductTypeAddVM

@{
    ViewData["Title"] = localizer["Add"];
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">@localizer["ProductType"] /</span>
            @localizer["Create"]
        </h4>
        <div class="row">
            <div class="content-wrapper">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form asp-action="Add">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">@localizer["ProductTypeName"].ToString().ToUpper(new System.Globalization.CultureInfo("tr-TR"))</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Description" class="form-label">@localizer["Description"].ToString().ToUpper(new System.Globalization.CultureInfo("tr-TR"))</label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div>
                                    <input type="submit" value="@localizer["Create"]" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-secondary">@localizer["BackToList"]</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* <div class="container-xxl flex-grow1 container-p-y px-5">
    <div class="row mb-5">
        <div class="card h-100">
            <div class="card-body" style="font-family:'Comic Sans MS'">
                <h1 class="card-title text-center py-5" style="color: indigo">Add New Product Type</h1>

                <br />

                <div class="row justify-content-center">
                    <div class="mb-3">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-md-1"></div>

                                    <div class="col-md-10">
                                        <form asp-action="Add" asp-controller="ProductType" asp-area="" method="post" class="text-center" style="font-family:'Comic Sans MS';">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <span class="text-danger">(* required field)</span>
                                            <br />
                                            <br />
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <label asp-for="Name" class="control-label" style="font-weight:bold; color:indigo">Name <span class="text-danger">*</span></label>
                                                    <br />
                                                    <input asp-for="Name" class="btn btn-outline-secondary btn-block col-12" style="cursor:text" type="text" />
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <div class="col-12">
                                                    <label asp-for="Description" class="control-label" style="font-weight:bold; color:indigo">Description <span class="text-danger">*</span></label>
                                                    <br />
                                                    <input asp-for="Description" class="btn btn-outline-secondary btn-block col-12" style="cursor:text" type="text" required />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="form-group row">
                                                <div class="col-12 col-lg-6">
                                                    <input type="submit" value="Add" class="btn btn-outline-success btn-block col-12" style="cursor:text" required />
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <a asp-action="Index" asp-controller="ProductType" asp-area="" class="btn btn-outline-warning btn-block col-12" title="Go to product types">Cancel</a>
                                                </div>
                                            </div>
                                        </form>
                                        <br />
                                    </div>

                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> *@