@model IPagedList<BaSalesManagementApp.MVC.Models.EmployeeVMs.EmployeeListVM>
@using Microsoft.Extensions.Localization
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@using X.PagedList
@using X.PagedList.Mvc.Core.Common
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> localizer


@{
    ViewData["Title"] = localizer["Index"];
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
</head>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4">
            <span class="text-muted fw-light">@localizer["Employee"] /</span>
            @localizer["List"]
        </h4>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <a asp-action="Create" class="btn btn-primary">@localizer["Create_New"]</a>
            <div id="sortEmployee" class="dropdown">
                <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-filter" style="font-size:1rem"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" data-value="name" href="@Url.Action("Index", new { sortEmployee = "name", page = ViewData["CurrentPage"] })">A-Z</a>
                    <a class="dropdown-item" data-value="namedesc" href="@Url.Action("Index", new { sortEmployee = "namedesc", page = ViewData["CurrentPage"] })">Z-A</a>
                    <a class="dropdown-item" data-value="createddate" href="@Url.Action("Index", new { sortEmployee = "createddate", page = ViewData["CurrentPage"] })">@localizer["Newest_First"]</a>
                    <a class="dropdown-item" data-value="createddatedesc" href="@Url.Action("Index", new { sortEmployee = "createddatedesc", page = ViewData["CurrentPage"] })">@localizer["Oldest_First"]</a>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@localizer["Profile"].ToString().ToUpper(new System.Globalization.CultureInfo(System.Threading.Thread.CurrentThread.CurrentCulture.Name))</th>
                            <th>@localizer["FirstName"]</th>
                            <th>@localizer["LastName"]</th>
                            <th>@localizer["Email"].ToString().ToUpper(new System.Globalization.CultureInfo(System.Threading.Thread.CurrentThread.CurrentCulture.Name))</th>
                            <th>@localizer["Title"]</th>
                            <th>@localizer["CompanyName"].ToString().ToUpper(new System.Globalization.CultureInfo(System.Threading.Thread.CurrentThread.CurrentCulture.Name))</th>
                            <th>@localizer["Actions"]</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (item.PhotoData != null)
                                    {
                                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.PhotoData)" alt="Profile Picture" class="rounded-circle" style="width: 40px; height: 40px;" />
                                    }
                                    else
                                    {
                                        <div class="rounded-circle" style="width: 40px; height: 40px; background-color: #e7e7ff; color: #696cff; display: flex; justify-content: center; align-items: center; font-weight:500">
                                            @item.FirstName.Substring(0, 1)@item.LastName.Substring(0, 1)
                                        </div>
                                    }
                                </td>
                                <td class="fw-medium">@item.FirstName</td>
                                <td class="fw-medium">@item.LastName</td>
                                <td class="fw-medium">@item.Email</td>
                                <td class="fw-medium">@item.Title</td>
                                <td class="fw-medium">@item.CompanyName</td>
                                <td class="text-end">
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" style="margin-right: 28px;">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a asp-action="Details" asp-route-employeeId="@item.Id" class="dropdown-item"><i class="bx bx-info-circle me-1"></i>@localizer["Details"] </a>
                                            <a asp-action="Update" asp-route-employeeId="@item.Id" class="dropdown-item"><i class="bx bx-edit-alt me-1"></i>  @localizer["Update"]</a>
                                            <a href="javascript:;" class="dropdown-item " data-bs-toggle="modal" data-bs-target="#deleteModal" data-employee-id="@item.Id">
                                                <i class="bx bx-trash me-1"></i> @localizer["Delete"]
                                            </a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-3">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortEmployee = ViewData["CurrentSortEmployee"] }), new PagedListRenderOptions
                {
                   Display = PagedListDisplayMode.Always,
                   UlElementClasses = new[] { "pagination", "justify-content-center" },
                   LiElementClasses = new[] { "page-item" },
                   PageClasses = new[] { "page-link" },
                   LinkToPreviousPageFormat = @localizer["Previous"],
                   LinkToNextPageFormat = @localizer["Next"],
                   LinkToFirstPageFormat = @localizer["First"],
                   LinkToLastPageFormat = @localizer["Last"],
                   ContainerDivClasses = new[] { "d-flex", "justify-content-center" }
                })
            </div>

        </div>
    </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">@localizer["DELETE_CONFIRM_TITLE_EMPLOYEE"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @localizer["DELETE_CONFIRM_EMPLOYEE"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@localizer["CANCEL_EMPLOYEE"]</button>
                <a id="confirmDeleteButton" href="#" class="btn btn-danger">@localizer["DELETE_EMPLOYEE"]</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var deleteModal = document.getElementById('deleteModal');
            deleteModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                var employeeId = button.getAttribute('data-employee-id');
                var confirmDeleteButton = deleteModal.querySelector('#confirmDeleteButton');
                confirmDeleteButton.href = '/Employee/Delete?employeeId=' + employeeId;
            });
        });
    </script>
}
